[report]
omit =
    */python?.?/*
    */site-packages/nose/*
    zktraffic/cli/fle.py
    zktraffic/cli/omni.py
    zktraffic/cli/stats_daemon.py
    zktraffic/cli/zab.py
    zktraffic/cli/zk.py
exclude_lines =
    pragma: no cover
    raise ValueError
    raise DeserializationError
    def __str__
    except StringTooLong
    except ParsingError
    raise cls.TooManyWatches()
    raise BadPacket
    except ImportError
    except (OSError, ValueError)*
    except AttributeError*
    except(EnvironmentError, ValueError*)*
    def _print_color
    raise self.RegistrationError
    raise StringTooLong
